
<!DOCTYPE html>
<html>
    <head>
        <title>Spic Macay</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <link rel="stylesheet" href="/stylesheets/animate.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
    
    
        <div id="landing-header" class="content">
            <section class="item animated fadeInUp">
                    <h1>Welcome to Spic Macay</h1>
            </section>
            <a href="/home" class="btn item2 animated fadeIn">Enter Our Site</a>
        </div>
        
        <ul class="slideshow">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        </ul>
        <!-- jQuery CDN -->
        <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    </body>
</html>