body {
    background-color: #000;
  }

  #landing-header {
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 20vh;
  }

  #landing-header img{
    height: 150px;
  }

  .slideshow { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .slideshow li { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 35s linear infinite; 
  }

  .slideshow li:nth-child(1) { 
    background-image: url('/images/s1.jpg') 
  }
  .slideshow li:nth-child(2) { 
    background-image: url('/images/s2.jpg');
    animation-delay: 7s; 
  }
  .slideshow li:nth-child(3) { 
    background-image: url('/images/s3.jpg');
    animation-delay: 14s; 
  }
  .slideshow li:nth-child(4) { 
    background-image: url('/images/s4.jpg');
    animation-delay: 21s; 
  }
  .slideshow li:nth-child(5) { 
    background-image: url('/images/s5.jpg');
    animation-delay: 28s; 
  }

  @keyframes imageAnimation { 
    0% { 
      opacity: 0; 
      animation-timing-function: ease-in;
    }
    10% {
      opacity: 1;
      animation-timing-function: ease-out;
    }
    20% {
      opacity: 1
    }
    30% {
      opacity: 0
    }
  }

  /* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}

.content .btn{
    border-radius: 9px;
    color: #f9f3f4;
    margin-top: 50px;
    text-decoration: none;
    border: 3px solid;
    padding: 10px 20px;
    font-weight: bold;
    transition: all 0.5s;
}

.content .btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.content .btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.content .btn:hover span {
  padding-right: 25px;
}

.content .btn:hover span:after {
  opacity: 1;
  right: 0;
}

/*.content .btn:hover{
    color: #2196f3;
}*/

.item{
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 2s;
}

.content .item2{
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 3s;
}