@import url('https://fonts.googleapis.com/css?family=Roboto:700');

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 100px;
    box-sizing: border-box;
    transition: 0.5s;
    z-index: 3;
}

nav.black{
    background-image: url(/images/bg2.jpg);
    background-color: rgba(0, 0, 0, 0.8);
    height: 80px;
    padding: 10px 50px;
    box-shadow: 5px 2px 10px 2px #201404;
}

nav .logo{
    float: left;
}

nav .logo img{
    height: 80px;
    transition: 0.5s;
}

nav.black .logo img{
    height: 60px;
}

nav ul{
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li{
    list-style-type: none;
    transition: 0.5s;
    opacity: 0.8;
    color: #fff;
    line-height: 40px;
    margin-right: 2px;
}

.blk{
    background-color: black;
}

nav ul li a{
    line-height: 80px;
    color: #fff;
    padding: 5px 20px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
}

nav.black ul li a{
    color: #fff;
    line-height: 60px;
}

nav ul li a:hover{
    color: #fff;
    background-color: #f00;
}

section.sec1{
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.responsive-bar{
    display: none;
}

/*ul li ul li{
    display: none;
}

ul li:hover ul li{
    display: block;
    float: left;
}*/

@media (max-width: 1220px){
    .responsive-bar{
        display: block;
        width: 100%;
        height: 60px;
        background-image: url(/images/bg2.jpg);
        background-color: #262626;
        position: fixed;
        top: 0;
        left: 0;
        padding: 5px 20px;
        box-sizing: border-box;
        z-index: 4;
    }

    .responsive-bar .logo img{
        float: left;
        height: 50px;
    }

    .responsive-bar h4{
        float: right;
        color: #fff;
        margin: 0;
        padding-top: 5px;
        line-height: 50px;
        cursor: pointer;
    }

    .responsive-bar .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    .change .bar2 {opacity: 0;}
    
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }

    nav,
    nav.black{
        background-color: #262626;
        height: 60px;
        padding: 0;
    }

    nav .logo{
        display: none;
    }

    nav ul{
        position: absolute;
        width: 100%;
        top: 60px;
        background-image: url(/images/bg2.jpg);
        float: none;
        left: 0;
        display: none;
        transition: 0.5s;
        z-index: 4;
    }

    nav ul.active{
        display: block;
        transition: 0.5s;
        z-index: 4;
    }

    nav ul li{
        width: 100%;
    }

    nav ul li a{
        display: block;
        padding: 0;
        width: 100%;
        text-align: center;
        line-height: 30px !important;
        color: #fff;
    }

    nav ul.fade{
        -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 1s; /* Firefox < 16 */
         -ms-animation: fadein 1s; /* Internet Explorer */
          -o-animation: fadein 1s; /* Opera < 12.1 */
             animation: fadein 1s;
    }

    .shadowf{
        -webkit-filter: drop-shadow(5px 5px 5px #222 );
        filter: drop-shadow(0px 0px 8px rgba(17, 18, 19, 0.8));
      }

    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    /* Firefox < 16 */
    @-moz-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
}

  .slideshow { 
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 2;
  }

  .slideshow li { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 70s linear infinite; 
  }

  .slideshow li:nth-child(1) { 
    background-image: url('/images/bg/1.jpg') 
  }
  .slideshow li:nth-child(2) { 
    background-image: url('/images/bg/2.jpg');
    animation-delay: 7s; 
  }
  .slideshow li:nth-child(3) { 
    background-image: url('/images/bg/3.jpg');
    animation-delay: 14s; 
  }
  .slideshow li:nth-child(4) { 
    background-image: url('/images/bg/4.jpg');
    animation-delay: 21s; 
  }
  .slideshow li:nth-child(5) { 
    background-image: url('/images/bg/5.jpg');
    animation-delay: 28s; 
  }
  .slideshow li:nth-child(6) { 
    background-image: url('/images/bg/6.jpg');
    animation-delay: 35s; 
  }
  .slideshow li:nth-child(7) { 
    background-image: url('/images/bg/7.jpg');
    animation-delay: 42s; 
  }
  .slideshow li:nth-child(8) { 
    background-image: url('/images/bg/8.jpg');
    animation-delay: 49s; 
  }
  .slideshow li:nth-child(9) { 
    background-image: url('/images/bg/9.jpg');
    animation-delay: 56s; 
  }
  .slideshow li:nth-child(10) { 
    background-image: url('/images/bg/10.jpg');
    animation-delay: 63s; 
  }

  @keyframes imageAnimation { 
    0% { 
      opacity: 0; 
      animation-timing-function: ease-in;
    }
    10% {
      opacity: 1;
      animation-timing-function: ease-out;
    }
    20% {
      opacity: 1
    }
    30% {
      opacity: 0
    }
  }

  /* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}