<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Spic Macay</title>
  <link rel="shortcut icon" type="image/x-icon" href="images/smlogo3.png" />
  <link rel="stylesheet" href="assets/css/contacts.css">
  <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
</head>
<body>
  <nav class="navbar">
    <span class="open-slide">
      <a href="#" onclick="openSlideMenu()">
      	<img src="images/menu-bar.png">
      </a>
    </span>
  </nav>

  <div id="side-menu" class="side-nav">
    <a href="#" class="btn-close" onclick="closeSlideMenu()">&times;</a>
    <a href="/home">Home</a>
	<a href="/about">About</a>
	<a href="/events">Events</a>
	<a href="/acts">Activities</a>
	<a href="/wings">Wings</a>
	<a href="/gallery">Gallery</a>
	<a href="/team">Team</a>
	<a href="/contact">Contact</a>
  </div>

  <section class="team">
  	<div class="container">
  		<div class="row">
  			<h1>Contact Us</h1>
  			<p>SPIC MACAY aspires to be much more than a youth body arranging free concerts .It is your movement and needs your support to further this great cause.</p>
  		</div>
  		<div class="row mgt50px c2">
  			<div class="column">
  				<h3>Address</h3>
  				<p>National Institute of Technology Durgapur<br> 
					राष्ट्रीय प्रौद्योगिकी संस्थान दुर्गापुर<br><br>

					(An Institute of National Importance under Government of India,<br> 
					Ministry of Human Resource Development)<br> 
					Mahatma Gandhi Avenue, Durgapur 713209, West Bengal, INDIA</p>
				<h3>Email</h3>
				<p>
					<i class="fa fa-envelope">  spicmacaynitdgp@gmail.com</i>
				</p>
				<h3>Follow Us</h3>
				<p class="sp">
					<i class="fa fa-facebook"></i>
					<i class="fa fa-youtube"></i>
				</p>
  			</div>
  			<div class="column c1">
  				<h3>Get In Touch</h3>
  				<p><a>President : Sandeep Kumar Sahu</a><br>
  					<i class="fa fa-phone">  +91 7890741598</i><br>
  					<i class="fa fa-envelope">  sandeeep13sahu@gmail.com</i><br><br>
  					<a>Convenor : Swarnendu Majumdar</a><br>
  					<i class="fa fa-phone">  +91 8961553998</i><br>
  					<i class="fa fa-envelope">  majumderswarnendu16@gmail.com</i><br><br>
  					<a>General Secretary : Shiuli Subhra Ghosh</a><br>
  					<i class="fa fa-phone">  +91 8902775684</i><br>
  					<i class="fa fa-envelope">  ghoshshiulisubhra16@gmail.com</i><br><br>
  				</p>
  			</div>
  			<div style="clear: both;"></div>
  		</div>
  	</div>
  </section>
  <section class="footer">
  
	</section>
  <script src="assets/js/team.js"></script>
</body>
</html>