<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Spic Macay</title>
  <link rel="stylesheet" href="assets/css/team.css">
  <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
</head>
<body>
  <nav class="navbar">
    <span class="open-slide">
      <a href="#" onclick="openSlideMenu()">
      	<img src="images/menu-bar.png">
      </a>
    </span>
  </nav>

  <div id="side-menu" class="side-nav">
    <a href="#" class="btn-close" onclick="closeSlideMenu()">&times;</a>
    <a href="/home">Home</a>
	<a href="/about">About</a>
	<a href="/events">Events</a>
	<a href="/acts">Activities</a>
	<a href="/wings">Wings</a>
	<a href="/gallery">Gallery</a>
	<a href="/team">Team</a>
	<a href="/contact">Contact</a>
  </div>

  <section class="team">
  	<div class="container">
  		<div class="row">
  			<h1>Our Team</h1>
  			<p>The NIT Durgapur chapter of SPIC MACAY, started in ____, has been working relentlessly to uphold the spirit and zeal of the movement . A large number of diverse events have been held in the past to give the students and community a feeling of our rich cultural heritage. SPIC MACAY is completely managed by a group of student enthusiasts,right from preparing the venue, providing a befitting hospitality to the artist and raising funds through donations and sponsorships from individuals and corporate houses. The NIT Durgapur Chapter organizes a number of programs on campus as well as in the neighboring schools.</p>
  		</div>
  		<div class="row mgt50px">
  			<div class="column">
  				<div class="imgBox">
  					<img src="images/gallery/thumbs/02.jpg">
  				</div>
  				<div class="details">
  					<h3>Member Name<br><span>CEO AND FOUNDER</span></h3>
  					<ul>
  						<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
  						<li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i></a></li>
  						<li><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
  					</ul>
  				</div>
  			</div>
  			<div class="column">
  				<div class="imgBox">
  					<img src="images/gallery/thumbs/01.jpg">
  				</div>
  				<div class="details">
  					<h3>Member Name<br><span>CEO AND FOUNDER</span></h3>
  					<ul>
  						<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
  						<li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i></a></li>
  						<li><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
  					</ul>
  				</div>
  			</div>
  			<div class="column">
  				<div class="imgBox">
  					<img src="images/gallery/thumbs/03.jpg">
  				</div>
  				<div class="details">
  					<h3>Member Name<br><span>CEO AND FOUNDER</span></h3>
  					<ul>
  						<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
  						<li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i></a></li>
  						<li><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
  					</ul>
  				</div>
  			</div>
  			<div class="column">
  				<div class="imgBox">
  					<img src="images/gallery/thumbs/04.jpg">
  				</div>
  				<div class="details">
  					<h3>Member Name<br><span>CEO AND FOUNDER</span></h3>
  					<ul>
  						<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
  						<li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i></a></li>
  						<li><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
  					</ul>
  				</div>
  			</div>
  			<div class="column">
  				<div class="imgBox">
  					<img src="images/gallery/thumbs/02.jpg">
  				</div>
  				<div class="details">
  					<h3>Member Name<br><span>CEO AND FOUNDER</span></h3>
  					<ul>
  						<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
  						<li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i></a></li>
  						<li><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
  					</ul>
  				</div>
  			</div>
  			<div class="column">
  				<div class="imgBox">
  					<img src="images/gallery/thumbs/01.jpg">
  				</div>
  				<div class="details">
  					<h3>Member Name<br><span>CEO AND FOUNDER</span></h3>
  					<ul>
  						<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
  						<li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i></a></li>
  						<li><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
  					</ul>
  				</div>
  			</div>
  			<div class="column">
  				<div class="imgBox">
  					<img src="images/gallery/thumbs/03.jpg">
  				</div>
  				<div class="details">
  					<h3>Member Name<br><span>CEO AND FOUNDER</span></h3>
  					<ul>
  						<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
  						<li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i></a></li>
  						<li><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
  					</ul>
  				</div>
  			</div>
  			<div class="column">
  				<div class="imgBox">
  					<img src="images/gallery/thumbs/04.jpg">
  				</div>
  				<div class="details">
  					<h3>Member Name<br><span>CEO AND FOUNDER</span></h3>
  					<ul>
  						<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
  						<li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i></a></li>
  						<li><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
  					</ul>
  				</div>
  			</div>
  			<div style="clear: both;"></div>
  		</div>
  	</div>
  </section>
  <section>
  <!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-phone"><span class="label">Phone</span></a></li>
					</ul>
					<p>&copy; Design: <a href="https://templated.co">SPIC MACAY<em> (IT Wing)</em></a></p>
				</div>
			</footer>
	</section>
  <script src="assets/js/team.js"></script>
</body>
</html>