<!DOCTYPE html>
<html>
	<head>
		<title>Spic Macay</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/team.css" />
	</head>
	<body>
		<!-- Header -->
			<header id="header" class="alt">
				<div class="logo"><img src="/images/smlogo2.png"></div>
				<a href="#menu"><img src="images/menu-bar.png"></a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/home">Home</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/events">Events</a></li>
					<li><a href="/acts">Activities</a></li>
					<li><a href="/wings">Wings</a></li>
					<li><a href="/gallery">Gallery</a></li>
					<li><a href="/team">Team</a></li>
					<li><a href="/contact">Contact</a></li>
				</ul>
			</nav>
	</body>
</html>