@import url('https://fonts.googleapis.com/css?family=Roboto:700');
.txt{
    color:black;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.txto{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
#menu {
	background-image: url('/images/bg2.jpg');
}